.box1 {
    display: flex;
    justify-content: center;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    display: flex;
    justify-content: end;
}


/* Difficult part */

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;  
}

.box4, .box5, .box6, .box7 {
    color: white;
    
}

.container {
    display: flex;
    justify-content: space-between;  
}
