section {
    border: 1px solid gray;
    padding: 16px;
    height: 400px;
    width: 400px;
}

section:hover {
    background-color: aquamarine;
}

h1 {
    margin-bottom: 10px 5px 10px 5px;
    padding: 10px 13px 11px 12px;
}

p {
    color: red;
    padding: 6px 0px;
    margin: 0px 16px;
}

p:hover {
    color: blue;
}